#overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  > div {
    display: flex;
    flex-direction: column;
    > textarea {
      min-width: 300px;
      min-height: 400px;
    }
  }
}

body, html, button, input {
  font-family: 'Fira Code', monospace;
}

.a-machine-touch-listener {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.a-machine-touch-listener button {
  display: inline-block;
  padding: 0.8em 1.2em;
  margin: 6px 0;
}

a-machine--footer {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 64px;
  pointer-events: none !important;
}

a-machine--footer button {
  pointer-events: auto !important;
  cursor: pointer;
}
